body {
    background-color: rgb(235, 235, 235);
  }
#inicio:hover{
    background-color: rgb(18, 0, 61);
    border: 1px solid rgb(18, 0, 61);
    color: white;
    border-radius:5px ;
    transition: 1s;
}
#nombre{
    border: solid 2px rgb(18, 0, 61); width: 100%; border-radius: 10px;
}
#apellido{
    border: solid 2px rgb(18, 0, 61); width: 100%; border-radius: 10px;
}
#email{
    border: solid 2px rgb(18, 0, 61); width: 100%; border-radius: 10px;
}
#numero{
    border: solid 2px rgb(18, 0, 61); width: 100%; border-radius: 10px;
}
#btn_nav:hover{
    background-color: rgb(18, 0, 61);
    border: 1px solid rgb(18, 0, 61);
    color: white;
    border-radius:5px ;
    transition: 1s;
}

#enviar{
    background-color: rgb(25, 225, 208);border:0;border-radius:5px;height:2.5rem;
}
#cancelar{
    background-color: rgb(225, 25, 25);border:0;border-radius:5px;height:2.5rem;
}

/* FOOTER*/

footer{
    width: 110%;
    padding: 50px 0px;
    background-image: url(./Images/background-footer.svg);
    background-size: cover;
    
}




